*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.headr{
    background-color: #1f1c1c;
    padding-bottom: 15rem;
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #f23269;
    
}
.logo img{
    font-size: 1.5rem;
    background-color: #f23269;
    font-style: italic;
    height: auto;
    width: 15rem;
    border-radius: 4rem;
    
}

.menu{
    display: flex;
    gap: 1rem;
    background-color: #f23269;
    font-size: 1.5rem;
}
.menu a{
    text-decoration: none;
    color: whitesmoke;
    padding: 1.5rem 1.2rem;
    background-color: #f23269;
}

.menu a:hover{
    font-size: 1.8rem;
    background-color: #1f1c1c;
    transition: 0.3s ease;
    border-radius: 20rem;
}
.intro {
    display: flex;
    
    margin: 1rem;
    margin-top: 10rem;
    justify-content: center;
    /* position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%); */

}
 .profile {
   flex: 1; 
}

.profile{
    font-size: 3.5rem;
    color: azure;
    border-radius: 10rem; 
 

}
.img{
    color: azure;
    border-radius: 50%; 
    height: 20rem;
     width: 20rem;

}

/*------------------------------------------------------------------*/


.section-skills{
    position: relative;
    background-color: #1f1c1c;
    padding-block: 7.2em;
}
.container{
    margin-left: 5rem;
}
.skills-grid{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    row-gap: 5.5rem;
    justify-items: center;
    margin-top: 3.2rem;
}
.subheading{
    font-size: 2.3rem;
    font-weight: 300;
    text-transform: uppercase;
    color: azure;
    letter-spacing: 0.75px;
}
.container h2{
    font-size: 2.1rem;
    font-weight: 300;
    text-transform: uppercase;
    color: azure;
    letter-spacing: 0.75px;
}
.skills-subheading{
    font-size: 1.9rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 7.2rem;
    margin-top: 1.2rem;
    color: azure;
    letter-spacing: 0.75px;

}
.skill-item{
    text-align: center;
    color: azure;
    font-weight: 500;
    font-size: 1.1rem;
}
.skill-item-img{
    width: 76px;
    height: 76px;
}
.section-skills svg {
    height: 76px;
    width: 76px;
  }

  /*------------------------------------------------------------------*/

.about{
    position: relative;
    justify-content: center;
    background-color:gray;
    align-content: center;
    padding: 4.5rem;
    
}

.abt-1{
    display: flex;
    justify-content: center;
    gap: 5.5rem;

}
 .left{
    color: azure;
    font-size: 2.1rem;
    
}

.right{
    color: azure;
    font-size: 2.1rem;

}

/*------------------------------------------------------------------*/


.foot{
   background-color: #1f1c1c;
   color: azure;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction:  column;
   text-align: center;
   font-size: 30px;
}
.social #link{
    
    margin-right: 20px;
}
.social #link i{
    size: 40px;
}


.blog{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 2rem;
}

.content{
    text-align: center;
    font-size: 1.8rem;

}
.blog-name{
    justify-content: center;

}
.btn{
    background-color: #f23269;
    border-radius: 1.9rem;
    color: aliceblue;
    font-size: 1.8rem;
    text-decoration: none;
}

/*-----------------Media Query - Responsive WEB----------------------------------*/

@media (max-width:36.5rem){
    *{
        margin: 0 auto;
        padding: 0 auto;
        box-sizing: border-box;
        max-width: 100% !important;
        overflow-x: hidden !important;
    }
    .headr{
        background-color: #1f1c1c;
        padding-bottom: 5rem;
    }
    .nav-bar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.8rem;
        background-color: #f23269;
        
    }
    .logo img{
        font-size: 1rem;
        background-color: #f23269;
        font-style: italic;
        height: auto;
        width: 4rem;
       
        
    }
    
    .menu{
        display: flex;
        position: relative;
        gap: 0.1rem;
        background-color: #f23269;
        font-size: 1rem
    }
    .menu a{
        text-decoration: none;
        list-style: none;
        color: whitesmoke;
        padding: 0.5rem .1rem;
        background-color: #f23269;
    }
    
    .menu a:hover{
        font-size: 1rem;
        background-color: #1f1c1c;
        transition: 0.3s ease;
        border-radius: 5rem;
    }
    .intro {
        display: flex;        
        margin-top: 5rem;
        justify-content: center;
        flex-direction: column-reverse;
        align-items: center;
        /* position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%); */
    
    }
   
    
    .intro .profile{
        font-size: 2.5rem;
        color: azure;
        align-items: center;
        justify-content: center;
        border-radius: 0%;
     
    
    }
    .img{
        color: azure;
        border-radius: 50%; 
        height: 20rem;
         width: 20rem;
    
    }
    
    /*------------------------------------------------------------------*/
    
    
    .section-skills{
        position: relative;
        background-color: #1f1c1c;
        padding-block: 4.2em;
    }
    .container{
        margin: 0;
        
    }
    .skills-grid{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        row-gap: 1.5rem;
        justify-items: center;
        align-items: center;
        margin-top: .2rem;
    }
    .subheading{
        font-size: 2.3rem;
        font-weight: 300;
        text-transform: uppercase;
        color: azure;
        letter-spacing: 0.75px;
    }
    .container h2{
        font-size: 1.7rem;
        font-weight: 300;
        text-transform: uppercase;
        color: azure;
        letter-spacing: 0.75px;
    }
    .skills-subheading{
        font-size: 1.5rem;
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 7.2rem;
        margin-top: 1.2rem;
        color: azure;
        letter-spacing: 0.75px;
    
    }
    .skill-item{
        text-align: center;
        color: azure;
        font-weight: 300;
        font-size: 1.1rem;
    
    }
    .skill-item-img{
        width: 76px;
        height: 76px;
    }
    .section-skills svg {
        height: 76px;
        width: 76px;
      }
    
      /*------------------------------------------------------------------*/
    
    .about{
        position: relative;
        justify-content: center;
        background-color:gray;
        align-content: center;
        padding: 2rem;
        
    }
    
    .abt-1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2.5rem;
    
    }
    .abt-1 .left{
        color: azure;
        font-size: 2.1rem;
        
    }
    
    .abt-1 .right{
        color: azure;
        font-size: 1.9rem;
    
    }
    
    /*------------------------------------------------------------------*/
    
    
    .foot{
       background-color: #1f1c1c;
       color: azure;
       display: flex;
       align-items: center;
       justify-content: center;
       flex-direction:  column;
       text-align: center;
       font-size: 30px;
    }
    .social #link{
        
        margin-right: 20px;
    }
    

}
/*--------------------------------------------------*/
.blog{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 1rem;
}

.content{
    text-align: center;
    font-size: 1.4rem;

}
.blog-name{
    justify-content: center;

}
.btn{
    background-color: #f23269;
    border-radius: 1.4rem;
    color: aliceblue;
    font-size: 1.4rem;
    text-decoration: none;
}