*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1f1c1c;
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #f23269;
    
}
.nav-bar .logo{
    font-size: 25px;
    background-color: #f23269;
    font-style: italic;
    height: auto;
    width: 1rem;
    
}

.menu{
    display: flex;
    gap: 1em;
    background-color: #f23269;
    font-size: 25px;
}
.menu li{
    list-style: none;
    color: whitesmoke;
    padding: 15px 30px;
    background-color: #f23269;
}

.menu li:hover{
    font-size: 30px;
    background-color: #1f1c1c;
    transition: 0.3s ease;
    border-radius: 20em;
}
.intro {
    display: flex;
    margin: 90px;
    /* position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%); */

}
 .profile {
    flex: 1;
    border: 2px solid yellow;
    /* display: flex;
    justify-items: center;
    justify-content: center; */
}
.intro:first-child{
    margin-right: 20px;
}
.intro .profile{
    font-size: 50px;
    color: azure;
    padding: 150px;

}